body{
	margin: 0;
	background-color: @frameBg;
	wdith: 100%;
	height: 100%;
	font-family: Helvetica, Tahoma, Sans;
}

.middle{
	width: 946px;
	margin: 0 auto;
}

/* ------------------- [ФРЕЙМЫ] ------------------- */
@frameBg: #F2F2F2;
@frameBg2: #EEEEEE;

@colorH1: #00ADEE;
@colorH2: #47474A;

@H1FontSize: 32px;
@H2FontSize: @H1FontSize - 11;

.frames{
	wdith: 100%;
	height: 100%;

	section.middle{
		h1{
			font-size: @H1FontSize;
			color: @colorH1;
		}
		h2{
			font-size: @H1FontSize - 11;
			color: @colorH2;
			text-shadow: @H2FontSize @H2FontSize 0px rgba(0,0,0,0.05);
		}
	}
}

.section{
	width: 100%;
	height: 800px;
	background-color: @frameBg;
}
.section:nth-child(even){
	background-color: @frameBg2;
}
/* ------------------- [/ФРЕЙМЫ] ------------------- */

/*-------------------- [ЗАГОЛОВОК КОНТАКТНЫЕ ДАННЫЕ]---------------------*/

@font-halvetica-normal: "halvetica-normal, Tahoma";
@font-numder-size: 30px;
@contact-menu-separator-color: #919191;
@contact-menu-item-color: @contact-menu-separator-color;
@face-color: 00adee;

header span{
	font-family: @font-halvetica-normal;
	font-size: @font-numder-size;
}

header nav{
	height: 59px;
	width: 300px;
	float: right;
}

header nav li{
	font-size: 15px;
	font-family: @font-halvetica-normal;
	color: @contact-menu-item-color;
	border-right: 1px solid @menu-separator-color;
	
}

header nav li:hover{
	color: @face-color;
} 

header nav li:last-child{
	border-right: none;
}
/*-------------------- [/ЗАГОЛОВОК КОНТАКТНЫЕ ДАННЫЕ]---------------------*/














