body{
	margin: 0;
	background-color: @frameBg;
	wdith: 100%;
	height: 100%;
}

.middle{
	width: 800px;
	margin: 0 auto;
}

/* ------------------- [ФРЕЙМЫ] ------------------- */
@frameBg: #F2F2F2;
@frameBg2: #EEEEEE;

.frames{
	wdith: 100%;
	height: 100%;
}

.section{
	width: 100%;
	height: 800px;
	background-color: @frameBg;
}
.section:nth-child(even){
	background-color: @frameBg2;
}
/* ------------------- [/ФРЕЙМЫ] ------------------- */

/*-------------------- [ЗАГОЛОВОК КОНТАКТНЫЕ ДАННЫЕ]---------------------*/

@font-halvetica-normal: "helvetica-normal, Arial";
@font-numder-size: 30px;
@contact-menu-item-color: #919191;
@face-color: #00adee;

header{ 
	span{
		font-family: Tahoma;
		font-size: @font-numder-size;
	}

	nav{
		@height: 59px;
		height: @height;
		float: right;	
		vertical-align: middle;
	
		ul{
			
			margin-top: 0;
			height:@height;
			vertical-align: center;
			
			li{
				@font-size: 15px;
				display: inline;
				font-size: @font-size;
				font-family: @font-halvetica-normal;
				color: @contact-menu-item-color;
				border-right: 1px solid @contact-menu-item-color;	
				line-height: @height/2+ @font-size/2;
				padding-right: @font-size/2;
			}
			 li:hover{
				color: @face-color;
			} 
			li:last-child{
				border-right: none;
			}
		}
	}
}
/*-------------------- [/ЗАГОЛОВОК КОНТАКТНЫЕ ДАННЫЕ]---------------------*/














